# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.rlib

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Sublime Text
*.sublime-workspace
*.sublime-project

# Upstream files
/FreeRTOS*
